*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;  
  }

  body{
      display:flex;
      flex-direction: column;
      align-items: center;
      background: linear-gradient(90deg, rgba(4,210,249,1) 0%, rgba(74,167,242,1) 47%, rgba(0,212,255,1) 100%);
  }

  #heading{
      font-size: 50px;
      margin: 40px auto;
      color: white;

  }

  .search-bar{
      display: flex;
      width: 470px;
      justify-content: space-around;
      margin-bottom: 80px;
  }

  #search{
      height: 40px;
      width: 300px;
      background-color: rgba(255, 255, 255, 0);
      border: 1px solid white;
      border-radius: 10px;
      color: white;
      padding: 10px;
      transition: all ease-in 200ms;
  }

  #search::placeholder{
      color: white;
  }

  #search:focus{
      outline: none;
      background-color: white;
      color: rgba(4,210,249,1); ;
  }

  #search:hover{
      width: 325px;
  }

  #search-btn{
      height: 40px;
      width: 100px;
      background-color: rgba(255, 255, 255, 0);   
      border: 1px solid white;
      border-radius: 10px;
      color: white;
      cursor: pointer;
      transition: all ease-in 150ms;
  }

  #search-btn:hover{
    background-color: white;
    color: rgba(4,210,249,1);
  }

  .search-results{
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      /* display: grid;
      justify-content: space-evenly;
      align-items: center;
      grid-template-columns: auto auto auto; */
  }

  .result{
      /* height: 470px; */
      width: 300px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: white;
      margin: 10px;
      border-radius: 25px;

  }

  .result h5{
      margin:20px;
  }

  .result img{
      height: 230px;
      width: 230px;
      margin-left: 20px;
      margin-top: 7px;
      border-radius: 20px;

  }

  .more-info{
      display: none;
  }

  .result .read-more-btn{
      height: 40px;
      width: 120px;
      padding: 5px;
      text-align: center;
      margin: 0px 0px 10px 70px;
      border-radius: 20px;
      border: 1px solid rgba(4,210,249,1);
      color: rgba(4,210,249,1);;
      cursor: pointer;
      transition: all ease-in 200ms;
  }

  .result .read-more-btn:hover{
    background: linear-gradient(90deg, rgba(4,210,249,1) 0%, rgba(74,167,242,1) 47%, rgba(0,212,255,1) 100%);
    color: white;
    border-radius: 10px;

  }

    @media screen and ( max-width: 460px) {
    
        #heading{
            font-size: 40px;
        }
   
        .search-bar{
        width: 300px;
        }
            
        #search{
            width: 150px;
        }

        #search:hover{
            width: 175px;
        }

        #search-btn{
            width: 70px;
        }

  }